# Artificial Neural Network

# Problem Description:

The bank has observed an unusually high churn rate, where a significant number of customers are leaving the bank. To address this issue, we have access to a dataset containing information about 10,000 customers over a six-month period, including whether or not they left the bank during that time. Our goal is to develop a predictive model that can identify customers at a higher risk of leaving the bank. By doing so, the bank can take proactive measures to retain these customers and reduce the churn rate.

### Importing the libraries

In [2]:
import numpy as np
import pandas as pd
import tensorflow as tf

In [3]:
tf.__version__

'2.13.0'

## Part 1 - Data Preprocessing

### Importing the dataset

In [4]:
df = pd.read_csv('/content/Churn_Modelling.csv')
df

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [5]:
# rownumber, customerID and surname does not help with problem removing un-necessary columns
# taking x starting with index 3 which is redirt score
x = df.iloc[:, 3:-1].values
y = df.iloc[:, -1].values

In [6]:
print(x)

[[619 'France' 'Female' ... 1 1 101348.88]
 [608 'Spain' 'Female' ... 0 1 112542.58]
 [502 'France' 'Female' ... 1 0 113931.57]
 ...
 [709 'France' 'Female' ... 0 1 42085.58]
 [772 'Germany' 'Male' ... 1 0 92888.52]
 [792 'France' 'Female' ... 1 0 38190.78]]

In [7]:
print(y)

[1 0 1 ... 1 1 0]

### Encoding categorical data

Label Encoding the "Gender" column

In [8]:
# lable encoder for gender in x which is at index 2

from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
x[:, 2] = le.fit_transform(x[:, 2])
print(x)

[[619 'France' 0 ... 1 1 101348.88]
 [608 'Spain' 0 ... 0 1 112542.58]
 [502 'France' 0 ... 1 0 113931.57]
 ...
 [709 'France' 0 ... 0 1 42085.58]
 [772 'Germany' 1 ... 1 0 92888.52]
 [792 'France' 0 ... 1 0 38190.78]]

One Hot Encoding the "Geography" column

In [11]:
# one hot encode for converting str to int (o's and 1's)

from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

# below we add [1] because we want to apply onehot encoding on contry colomn whose index is [1]
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [1])], remainder='passthrough')
x = np.array(ct.fit_transform(x))   # after onehotencoding dummy columns are moved to start

In [12]:
print(x)

[[1.0 0.0 1.0 ... 1 1 101348.88]
 [1.0 0.0 0.0 ... 0 1 112542.58]
 [1.0 0.0 1.0 ... 1 0 113931.57]
 ...
 [1.0 0.0 1.0 ... 0 1 42085.58]
 [0.0 1.0 0.0 ... 1 0 92888.52]
 [1.0 0.0 1.0 ... 1 0 38190.78]]

In [32]:
x[0]

array([1.0, 0.0, 1.0, 0.0, 619, 0, 42, 2, 0.0, 1, 1, 1, 101348.88],
      dtype=object)

### Splitting the dataset into the Training set and Test set

In [13]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state = 0)

### Feature Scaling

In [14]:
from sklearn.preprocessing import StandardScaler  # feature scaling is imp for deeplearning

# apply feature scaling to only numerical values not encoded values as it will change encoded values
# we are appliying feature scaling to all the data for deeplearning
sc = StandardScaler()
x_train = sc.fit_transform(x_train)

# here we used only transform method as we dont want to create new scaler for train method it will use same scaler as train method to tramnsform
x_test = sc.transform(x_test)

## Part 2 - Building the ANN

### Initializing the ANN

In [17]:
ann = tf.keras.models.Sequential()

### Adding the input layer and the first hidden layer

In [18]:
ann.add(tf.keras.layers.Dense(units= 6, activation='relu'))

### Adding the second hidden layer

In [19]:
ann.add(tf.keras.layers.Dense(units= 6, activation='relu'))

### Adding the output layer

In [20]:
ann.add(tf.keras.layers.Dense(units= 1, activation='sigmoid'))
# the final output using sigmoid function would be probability in range of (0,1), we wont be getting ans in 0 & 1

## Part 3 - Training the ANN

### Compiling the ANN

In [22]:
ann.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy']) # here we are using binary-cossentopy as we have only 2 class in output in case of 3 or more class we have to use 'categorical_crossentropy'

### Training the ANN on the Training set

In [23]:
ann.fit(x_train, y_train, epochs=100, batch_size=32) # so in bastchsize we are comparing bathch of 32 row to the actual value of y

Epoch 1/100
250/250 [==============================] - 2s 2ms/step - loss: 0.5680 - accuracy: 0.7206
Epoch 2/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4574 - accuracy: 0.7954
Epoch 3/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4366 - accuracy: 0.7981
Epoch 4/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4261 - accuracy: 0.8073
Epoch 5/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4170 - accuracy: 0.8200
Epoch 6/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4094 - accuracy: 0.8242
Epoch 7/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4028 - accuracy: 0.8282
Epoch 8/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3978 - accuracy: 0.8284
Epoch 9/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3936 - accuracy: 0.8305
Epoch 10/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3899 - accuracy: 0.8296
Epoch 11/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3868 - accuracy: 0.8311
Epoch 12/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3841 - accuracy: 0.8335
Epoch 13/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3812 - accuracy: 0.8310
Epoch 14/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3785 - accuracy: 0.8321
Epoch 15/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3748 - accuracy: 0.8422
Epoch 16/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3712 - accuracy: 0.8465
Epoch 17/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3681 - accuracy: 0.8489
Epoch 18/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3642 - accuracy: 0.8505
Epoch 19/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3607 - accuracy: 0.8515
Epoch 20/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3571 - accuracy: 0.8547
Epoch 21/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3546 - accuracy: 0.8553
Epoch 22/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3517 - accuracy: 0.8555
Epoch 23/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3497 - accuracy: 0.8579
Epoch 24/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3483 - accuracy: 0.8590
Epoch 25/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3468 - accuracy: 0.8581
Epoch 26/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3452 - accuracy: 0.8584
Epoch 27/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3432 - accuracy: 0.8591
Epoch 28/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3430 - accuracy: 0.8581
Epoch 29/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3420 - accuracy: 0.8596
Epoch 30/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3411 - accuracy: 0.8610
Epoch 31/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3408 - accuracy: 0.8600
Epoch 32/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3403 - accuracy: 0.8600
Epoch 33/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3404 - accuracy: 0.8615
Epoch 34/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3393 - accuracy: 0.8621
Epoch 35/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3391 - accuracy: 0.8596
Epoch 36/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3392 - accuracy: 0.8615
Epoch 37/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3386 - accuracy: 0.8609
Epoch 38/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3377 - accuracy: 0.8618
Epoch 39/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3378 - accuracy: 0.8635
Epoch 40/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3380 - accuracy: 0.8621
Epoch 41/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3376 - accuracy: 0.8645
Epoch 42/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3373 - accuracy: 0.8622
Epoch 43/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3371 - accuracy: 0.8637
Epoch 44/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3367 - accuracy: 0.8612
Epoch 45/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3367 - accuracy: 0.8618
Epoch 46/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3367 - accuracy: 0.8620
Epoch 47/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3365 - accuracy: 0.8619
Epoch 48/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3371 - accuracy: 0.8629
Epoch 49/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3363 - accuracy: 0.8621
Epoch 50/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3361 - accuracy: 0.8624
Epoch 51/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3359 - accuracy: 0.8619
Epoch 52/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3358 - accuracy: 0.8612
Epoch 53/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3351 - accuracy: 0.8610
Epoch 54/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3355 - accuracy: 0.8639
Epoch 55/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3352 - accuracy: 0.8610
Epoch 56/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3351 - accuracy: 0.8610
Epoch 57/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3352 - accuracy: 0.8631
Epoch 58/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3352 - accuracy: 0.8615
Epoch 59/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3347 - accuracy: 0.8612
Epoch 60/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3348 - accuracy: 0.8633
Epoch 61/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3346 - accuracy: 0.8619
Epoch 62/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3343 - accuracy: 0.8615
Epoch 63/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3342 - accuracy: 0.8618
Epoch 64/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3342 - accuracy: 0.8624
Epoch 65/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3349 - accuracy: 0.8602
Epoch 66/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3343 - accuracy: 0.8633
Epoch 67/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3339 - accuracy: 0.8633
Epoch 68/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3338 - accuracy: 0.8616
Epoch 69/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3342 - accuracy: 0.8614
Epoch 70/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3336 - accuracy: 0.8640
Epoch 71/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3330 - accuracy: 0.8637
Epoch 72/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3334 - accuracy: 0.8635
Epoch 73/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3334 - accuracy: 0.8634
Epoch 74/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3334 - accuracy: 0.8633
Epoch 75/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3331 - accuracy: 0.8630
Epoch 76/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3330 - accuracy: 0.8645
Epoch 77/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3330 - accuracy: 0.8635
Epoch 78/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3325 - accuracy: 0.8631
Epoch 79/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3325 - accuracy: 0.8625
Epoch 80/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3321 - accuracy: 0.8637
Epoch 81/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3320 - accuracy: 0.8631
Epoch 82/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3321 - accuracy: 0.8637
Epoch 83/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3320 - accuracy: 0.8636
Epoch 84/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3318 - accuracy: 0.8629
Epoch 85/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3319 - accuracy: 0.8636
Epoch 86/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3317 - accuracy: 0.8643
Epoch 87/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3316 - accuracy: 0.8640
Epoch 88/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3318 - accuracy: 0.8630
Epoch 89/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3316 - accuracy: 0.8626
Epoch 90/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3311 - accuracy: 0.8649
Epoch 91/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3315 - accuracy: 0.8633
Epoch 92/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3315 - accuracy: 0.8637
Epoch 93/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3316 - accuracy: 0.8631
Epoch 94/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3312 - accuracy: 0.8656
Epoch 95/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3306 - accuracy: 0.8641
Epoch 96/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3312 - accuracy: 0.8648
Epoch 97/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3306 - accuracy: 0.8631
Epoch 98/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3312 - accuracy: 0.8630
Epoch 99/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3308 - accuracy: 0.8639
Epoch 100/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3304 - accuracy: 0.8646

## Part 4 - Making the predictions and evaluating the model

### Predicting the result of a single observation



Use our ANN model to predict if the customer with the following informations will leave the bank:

Geography: France

Credit Score: 600

Gender: Male

Age: 40 years old

Tenure: 3 years

Balance: \$ 60000

Number of Products: 2

Does this customer have a credit card ? Yes

Is this customer an Active Member: Yes

Estimated Salary: \$ 50000

So, should we say goodbye to that customer ?

**Solution**

In [40]:
# input accepted by predict method is 2d array
# Create a list containing the input data for prediction
input_data = [[1, 0, 1, 0, 600, 1, 40, 3, 60000, 2, 1, 1, 50000]]

# Scale the input data using the same scaler used during model training
scaled_input_data = sc.transform(input_data)

# Make the prediction
prediction = (ann.predict(scaled_input_data)  > 0.5) # to convert prediction range(0,1) in to 0's and 1's we can add int before ()

# Print the prediction : does cx leaves the bank? our last colom is exits means 1[True] if cx leave, 0[False] if cx stays
print(prediction)

1/1 [==============================] - 0s 31ms/step
[[False]]

Therefore, our ANN model predicts that this customer stays in the bank!

**Important note 1:** Notice that the values of the features were all input in a double pair of square brackets. That's because the "predict" method always expects a 2D array as the format of its inputs. And putting our values into a double pair of square brackets makes the input exactly a 2D array.

**Important note 2:** Notice also that the "France" country was not input as a string in the last column but as "1, 0, 0" in the first three columns. That's because of course the predict method expects the one-hot-encoded values of the state, and as we see in the first row of the matrix of features X, "France" was encoded as "1, 0, 0". And be careful to include these values in the first three columns, because the dummy variables are always created in the first columns.

### Predicting the Test set results

In [43]:
y_pred = (ann.predict(x_test) > 0.5)
print(np.concatenate((y_pred.reshape(len(y_pred),1), y_test.reshape(len(y_test),1)),1)) # here at last 1 is for

63/63 [==============================] - 0s 1ms/step
[[0 0]
 [0 1]
 [0 0]
 ...
 [0 0]
 [0 0]
 [0 0]]

### Making the Confusion Matrix

In [44]:
from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(y_test, y_pred)
print(cm)
accuracy_score(y_test, y_pred)

[[1487  108]
 [ 186  219]]

0.853